@model PWEB_AulasP_2223.ViewModels.VehicleSearchViewModel

@{
    ViewData["Title"] = "Resultado de Pesquisa";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h1>Resultado de Pesquisa</h1>
<br />
<br />

<!-- build ViewModel to pass to the controller -->
@{
    var searchViewModel = new PWEB_AulasP_2223.ViewModels.VehicleSearchViewModel();
    searchViewModel.PickupDateAndTime = Model.PickupDateAndTime;
    searchViewModel.ReturnDateAndTime = Model.ReturnDateAndTime;
    searchViewModel.Category = Model.Category;
    searchViewModel.Location = Model.Location;
}


<div class="column">
    <div class="col-10">
        Ordenar por custo:
        <a asp-action="Index" asp-controller="Search" asp-route-ordenarCustoAsc="true">Ascendente</a> |
        <a asp-action="Index" asp-route-ordenarCustoAsc="false">Descendente</a>
    </div>
    <div class="col-10">
        Ordenar por classificação:
        <a asp-action="Index" asp-controller="Search" asp-route-ordenarClassificacaoAsc="true">Ascendente</a> |
        <a asp-action="Index" asp-route-ordenarClassificacaoAsc="false">Descendente</a>
    </div>
    <div class="col-10">
        <form method="post" asp-action="Fixe">
            Categoria:
            <input type="hidden" name="PickupDateAndTime" value="@Model.PickupDateAndTime" />
            <input type="hidden" name="ReturnDateAndTime" value="@Model.ReturnDateAndTime" />
            <input type="hidden" name="Category" value="@Model.Category" />
            <input type="hidden" name="Location" value="@Model.Location" />
            <select name="CategoriaId" asp-items="ViewBag.Categories"></select>
            <input class="btn btn-primary" type="submit" value="Pesquisar" />
        </form>
    </div>
    <div class="col-10">
        <form method="post">
            Empresa:
            <input type="hidden" name="PickupDateAndTime" value="@Model.PickupDateAndTime" />
            <input type="hidden" name="ReturnDateAndTime" value="@Model.ReturnDateAndTime" />
            <input type="hidden" name="Category" value="@Model.Category" />
            <input type="hidden" name="Location" value="@Model.Location" />
            <select name="EmpresaId" asp-items="ViewBag.Empresas"></select>
            <input class="btn btn-primary" type="submit" value="Pesquisar" />
        </form>
    </div>
    <br />
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Marca
            </th>
            <th>
                Modelo
            </th>
            <th>
                Custo
            </th>
            <th>
                Empresa
            </th>
            <th>
                Avaliação da Empresa
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Veiculos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Custo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa.Avaliacao)
                </td>
                <td>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-primary" asp-controller="Reservas" asp-action="Rent" asp-route-VeiculoId="@item.Id">Reservar</a>
                    }
                    else
                    {
                        <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Reservar</a>
                    }
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
