@model List<PWEB_AulasP_2223.ViewModels.ManageUserRolesViewModel>

@{
    ViewData["Title"] = "UserRoles - Details";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h1>UserRoles - Details</h1>
<p>Add/remove roles from user</p>

@if (ViewBag.Avatar == null || ViewBag.Avatar.Length == 0)
{
    <img style="height: 45px; width: 45px; border-radius: 50%;" id="Avatar" src="/img/user.jpg">
}
else
{
    <img style="height: 45px; width: 45px; border-radius: 50%;" id="Avatar" src="data:image/*;base64,@(Convert.ToBase64String(ViewBag.Avatar))">
}

<form method="POST">
    @for (int i = 0; i < Model.Count; i++)
    {
        <input asp-for="@Model[i].RoleId" type="hidden" />
        <input asp-for="@Model[i].RoleName" type="hidden" />
        <input asp-for="@Model[i].Selected" />
        <label asp-for="@Model[i].Selected">@Model[i].RoleName</label>
        <br />
    }

    <input type="submit" />

    @*@foreach (var item in Model)
        {
            <input asp-for="@item.RoleId" type="hidden" />
            <input asp-for="@item.RoleName" type="hidden" />
            <input asp-for="@item.Selected" />
            <label asp-for="@item.Selected">@item.RoleName</label>
            <br />
        }*@
</form>
