@model IEnumerable<PWEB_AulasP_2223.ViewModels.UserRolesViewModel>

@{
    ViewData["Title"] = "Utilizadores";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


    <h1>Gestão de Utilizadores</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Primeiro Nome
                </th>
                <th>
                    Último Nome
                </th>
                <th>
                    Email
                </th>
                <th>
                    Roles
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrimeiroNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UltimoNome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @String.Join(" ", item.Roles)
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-userId="@item.UserId">Editar</a>
                        @if (item.LockedAccount)
                        {
                            <a class="btn btn-success" asp-action="Enable" asp-route-userId="@item.UserId">Ativar conta</a>
                            <a class="btn btn-danger disabled" asp-action="Disable" asp-route-userId="@item.UserId">Desativar conta</a>
                        }
                        else
                        {
                            <a class="btn btn-success disabled" asp-action="Enable" asp-route-userId="@item.UserId">Ativar conta</a>
                            <a class="btn btn-danger" asp-action="Disable" asp-route-userId="@item.UserId">Desativar conta</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
