@model IEnumerable<PWEB.Models.Empresa>

@{
    ViewData["Title"] = "Empresas";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Gestão de Empresas</h1>

<p>
    <a asp-action="Create">Criar nova empresa</a>
</p>

<div class="column">
    <div class="col-10">
        Mostrar:
        <a asp-action="Index" asp-controller="Empresas" asp-route-ativas="">Todas</a> |
        <a asp-action="Index" asp-route-ativas="true">Activas</a> |
        <a asp-action="Index" asp-route-ativas="false">Inactivas</a>
    </div>
    <div class="col-10">
        Ordenar por avaliação:
        <a asp-action="Index" asp-controller="Empresas" asp-route-ordenarAscendentemente="true">Ascendente</a> |
        <a asp-action="Index" asp-route-ordenarAscendentemente="false">Descendente</a>
    </div>
    <div class="col-10">
        <form method="post">
            Pesquisa:
            <input type="text" id="TextoAPesquisar" name="TextoAPesquisar">
            <input class="btn btn-primary" type="submit" value="Pesquisar" />
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nome
            </th>
            <th>
                Avaliação
            </th>
            <th>
                Subscrição Ativa
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Avaliacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubscricaoAtiva)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
